* {
	margin: 0px;
	padding: 0px;
}
body {
	position: unset;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
}
.am-ucheck-icons{
	top: 3px
}
.view-content{
	width: 100%;
	height: 100%;
}
.view-content a {
	display: inline-block;
}
.design-toolbar {
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0 10px;
	font-size: 18px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(99,99,99,.15);
	box-shadow: 0 2px 5px 0 rgba(99,99,99,.15);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.design-toolbar .back{
	font-size: 35px
}
.toolbar{
	display: flex;
}
.design-toolbar .eyeBtn{
	width: 40px;
	line-height: 28px;
	color: #0DB3A6;
	font-size: 14px;
	cursor: pointer;
	display: flex;
  flex-direction: column;
  align-items: center;
}
.design-toolbar .eyeBtn i{
	font-size: 16px;
	margin-right: 2px;
}
.design-toolbar .eyeBtn span {
	line-height: 18px;
}
.design-content {
	/* display:table; */
	width:100%;
	position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

.design-content>div {
	/* display:table-cell; */
}
.design-page {
	width: 250px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border-right: solid 1px #e0e0e0;
  overflow-x: hidden;
  overflow-y: auto;
}
.design-page-model {
	padding: 8px 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.design-page-title{
	padding: 8px 12px;
	font-size: 13px;
	font-weight: bolder;
}
.design-page-model>ul {
	position: relative;
	overflow: hidden;
	padding: 0 10px 10px;
	margin: 0;
}
.design-page-model>ul>li{
	font-size: 12px;
  display: block;
  width: 50%;
  line-height: 26px;
  position: relative;
  float: left;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px;
  color: #333;
}
.design-page-model>ul>li a {
	display: block;
  cursor: move;
  background: #F4F6FC;
	border: 1px solid #F4F6FC;
	color: #333;
}
.design-page-model>ul>li a i {
	color: #749FD1;
  margin-right: 6px;
  margin-left: 8px;
  font-size: 14px;
}
.design-set {
	width: 300px;
	border-left: solid 1px #e0e0e0;
	position: absolute;
	top: 0;
	right: 0;
  bottom: 0;
}
.set-title{
	padding: 0 3px;
	border-bottom: solid 1px #e0e0e0;
	height: 45px;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
}
.design-view {
	position: absolute;
  top: 0;
  left: 250px;
  right: 300px;
  bottom: 0;
	overflow: hidden;
	overflow-y: auto;
  padding: 0;
}

.design-view-set{
	height: 45px;
  line-height: 45px;
  font-size: 18px;
  border-bottom: solid 1px #e0e0e0;
  padding: 8px 0;
}
textarea{
	width: 100%;
}
.set-box{
	position: absolute;
  top: 45px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.set-content{
	margin: 8px 0;
	padding: 0 10px;
}
.setElementTitle{
  margin-bottom: 10px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.setNmae{
	font-size: 12px;
	width: 78px;
	height: 22px;
	font-weight: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #DEF1FF;
	border: 1px solid #90BDDE;
	border-radius: 2px;
}
.input_title{
	width: 100%;
	height: 30px;
	margin: 0;
}
.cfg_split{
	border-top: solid 1px #e1e1e1;
  height: 0;
  margin: 15px 0;
}
.input_subhead{
	width: 100%;
	height: 150px;
}
h3{
	margin: 0;
}
.subhead{
	font-size: 13px;
	color: #999;
	overflow: hidden;
	word-wrap: break-word;
	word-break: normal;
}
.selecd-box{
	margin: 0
}
.selecd-box ul{
	margin: 0;
  padding: 0;
}
.selecd-box ul li{
	display: flex;
  text-shadow: 0 1px 1px rgba(255,255,255,.9);
  overflow: hidden;
  height: 35px;
	line-height: 35px;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}
.selecd-box ul li i.circle{
	color: #999;
	font-size: 18px
}
.selecd-box ul li a{
	margin-left: 6px;
	margin-right: 3px;
	width: 200px;
  height: 30px;
}
.selecd-box ul li a input{
	color: #333;
	font-size: 14px;
	font-weight: 400;
	height: 100%;
	width: 100%;
	box-shadow: none;
	border-radius: 2px;
	overflow: hidden;
  text-overflow: ellipsis;
	white-space: nowrap;
	padding: 3px;
  background-color: #fff;
  background-image: none;
  vertical-align: middle;
	margin: 0;
  outline: 0;
  border: 1px solid #ccc;
}
.selecd-box ul li a input:focus{
	border-color: #0DB3A6
}
.selecd-box ul li i.arrows{
	color: #979797;
	font-size: 18px;
  cursor: pointer;
}
.selecd-box ul li i.minus{
	color: #d84636;
	font-size: 18px;
	margin-left: 3px;
}
.add_btn_group{
	height: 30px;
	line-height: 30px;
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
}
.add_item{
	margin-right: 5px;
  cursor: pointer;
	color: #0DB3A6;
	font-size: 14px;
}
.add_other:before{
	content: '';
	width: 0;
	height: 12px;
	border-left: 1px solid #333;
	margin-right: 5px;
}
.group{
	padding: 10px;
	position: relative;
}
.group.active{
	background: #EBF8FB;
}
.custom{
	margin-top: 15px;
  height: 30px;
  font-size: 14px;
}
.delete{
	position: absolute;
  right: 21px;
  bottom: -7px;
}
.delete i{
	background: #fff;
	-webkit-box-shadow: 0 2px 4px 0 rgba(163,163,163,.5);
	box-shadow: 0 2px 4px 0 rgba(163,163,163,.5);
	width: 35px;
	height: 35px;
	font-size: 18px;
	border-radius: 18px;
	line-height: 35px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: red;
}
.deleteTh {
	width: 78px;
	height: 22px;
	font-size: 12px;
	padding: 0;
}

.upload-btn {
	position: relative;
	width: 120px;
	height: 30px;
	line-height: 28px;
	overflow: hidden;
}

.x-btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    height: 36px;
    line-height: 34px;
    text-align: center;
    border: 1px solid transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: background;
    -moz-transition: background;
    -o-transition: background;
    transition: background;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s
}


.upload-btn-input,.upload-form {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer
}
.preview-conent{
	position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.3);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-conent .back {
	cursor: pointer;
	font-size: 25px;
	color: #fff;
}
.form-content{
	width: 780px;
	height: 100%;
	background: #fff;
	position: relative;
	overflow-y: auto;
}
.img-icon{
	width: 60px;
	height: 60px;
	position: absolute;
	top:0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-content .section{
	border-bottom: none
}
.input-content {
	clear: both;
}
.input-content:after{
	content: "";
	display: block;
	clear: both;
	
}
.group:before {
	content: "";
	display: table;
	clear: both;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

.input-content [class*=am-u-]+[class*=am-u-]:last-child{
	float: left;
	
}
.table_panel{
	margin-top: 5px;
}
.th-item.active{
	background: #0DB3A6;
	color: #fff;
}
.custom-group{
	display: flex;
	align-items: center;
}
.icon-bz{
	font-size: 20px;
	margin-top: 15px;
	width: 20px;
	text-align: center;
	margin-left: 3px;
	background-color: #DEF1FF;
	border-radius: 2px;
}
.default-box{
	position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.3);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.default-content{
	width: 40%;
	min-height: 200px;
	background: #fff;
}
.user-content{
	border: 1px dashed #e0e0e0;
	margin: 0;
	padding: 0;
	background: #fff;
}
.user-radio{
	width: 330px;
	height: 40px;
	max-width: 100%;
}
.user-btn{
	cursor: pointer;
	line-height: 38px;
	text-align: center;
	color: #989898;
}
.user-checkbox {
	width: 720px;
	height: 80px;
	max-width: 100%;
}
.user-checkbox .user-btn{
	line-height: 72px
}
.set-userOrg{
	width: 100%;
	height: 30px;
	line-height: 28px;
	margin: 5px 0;
	text-align: center;
	border: 1px solid transparent;
	border-color: #ccc;
}
.set-userOrg:hover{
	background-color: #ebebeb;
}
.choice{
	display: flex;
  color: #333;
}
.choice-btn {
	width: 54px;
	height: 35;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	background-color: #f4f4f4;
}
.choice-left{
	border-radius: 2px 0 0 2px;
}
.choice-right{
	border-radius: 0 2px 2px 0;
}
.choice-selected{
	border-color: #0DB3A6;
	background-color: #0DB3A6;
	color: #fff;
}
#user-box, #organize-box{
	position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.3);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-model, .organize-model{
	background-color: #fff;
	width: 610px;
}
.user-title{
	height: 55px;
	line-height: 55px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 20px;
	border-bottom: 1px solid #e9e9e9;
	font-size: 16px;
	color: #1f2d3d;
	display: flex;
	justify-content: space-between;
}
.user-title .back{
	font-size: 20px;
  display: flex;
	align-items: center;
	cursor: pointer;
}
.list-selecred{
	height: 80px;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
	overflow: auto;
	list-style-type: disc;
	padding: 0;
	margin: 0;
}
.ul-box{
	margin: 20px;
  margin-bottom: 10px;
}
.list-selecred li {
	display: inline-block;
	line-height: 30px;
	margin: 5px 0 0 5px;
	padding: 0 10px;
	border-radius: 1px;
	background: #F3F6FC;
}
.list-selecred li .del-user{
	cursor: pointer;
	margin-left: 10px;
	padding: 3px;
	color: #999;
	font-size: 20px;
}
.user-list{
	margin: 0 20px 0 20px;
}
.list-search{
	position: relative;
}
.input-search{
	width: 100%;
	height: 38px;
	padding: 0 30px 0 10px;
	border-radius: 0;
	border: 1px solid #e0e0e0;;
}
.list-search .search {
	line-height: 38px;
	color: #989898;
	cursor: pointer;
	font-size: 16px;
	position: absolute;
	top: 11px;
	right: 10px;
}
.list-name{
	border: 1px solid #e0e0e0;
}
.list-ul{
	height: 309px;
	padding: 0;
	margin: 0;
}
.list-ul li {
	cursor: pointer;
	padding: 0 30px 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	line-height: 30px;
	list-style-type: none;
}
.list-ul li label{
	margin-top: 5px;
  margin-bottom: 5px;
}
.list-item.actve{
	background: #eee;
}
.btn-box{
	height: 60px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
}
.btn-box button{
	padding: 0;
	height: 32px;
  width: 70px;
}
.user-item, .organize-item{
	list-style-type: none;
	line-height: 30px;
	display: inline-block;
	margin: 4px 0 0 4px;
	padding: 0 10px;
	border-radius: 1px;
	background: #F3F6FC;
}
.searchListBox{
	position: absolute;
	background: #fff;
	z-index: 1;
	top: 38px;
	width: 100%;
	border: 1px solid #e0e0e0;
	height: 311px;
	padding: 10px;
}
.searchListUl{
	padding: 0;
  margin: 0;
}
.searchItem{
	list-style-type: none;
	cursor: pointer;
	padding: 0 5px;
	line-height: 30px;
	font-size: 14px;
	color: #333;
	border-bottom: solid 1px #e0e0e0;
}
.searchItem:hover{
	background: #eee;
}
.searchItem:last-child{
	border-bottom: none
}
.org-back{
	color: #0DB3A6;
  font-size: 14px;
  cursor: pointer;
}
.org-item{
	display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
	align-items: center;
}
.org-item div{
	margin-left: 10px;
}
.user-list .am-tabs-bd-ofv{
	overflow: auto;
}
.goOrg{
	cursor: pointer;
}
.org-item span{
	cursor: pointer;
}
.org-item:hover,#tab2 li:hover{
	background: #eee;
}
.langth-group{
	margin-bottom: 5px;
}
.langth-group input {
	margin: 0;
}
.am-form-row{
	display: flex;
  align-items: center;
}
.am-form-row label{
	text-align: center;
	padding: 0;
	margin: 0;
}
.am-form-row .subhead{
	padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.am-form-row2{
	display: flex;
}
.am-form-row2 label{
	text-align: center;
	padding: 0;
	margin: 0;
	padding-top: 7px;
}
.am-form-input9{
	width: 75%;
}
.am-form-input8{
	width: 66.66666667%;
}
.am-form-input6{
	width: 50%;
}
.label{
	/* width: 100%; */
}
.am-form-row3{
	display: flex;
}
.am-form-row3 h3 {
	text-align: center;
	padding: 0;
	margin: 0;
	padding-top: 7px;
}

.am-u-sm-0{
	display: none;
}
.am-form-field.am-u-sm-0{
  width: 0;
}
.am-form-field.am-u-sm-1{
  width: 8.33333333%;
}
.am-form-field.am-u-sm-2{
  width: 16.66666667%;
}
.am-form-field.am-u-sm-3{
  width: 25%;
}
.am-form-field.am-u-sm-4{
	width: 33.33333333%;
}
.am-form-field.am-u-sm-5{
  width: 41.66666667%;
}
.am-form-field.am-u-sm-6{
  width: 50%;
}
.am-form-field.am-u-sm-7{
  width: 58.33333333%;
}
.am-form-field.am-u-sm-8{
  width: 66.66666667%;
}
.am-form-field.am-u-sm-9{
  width: 75%;
}
.am-form-field.am-u-sm-10{
  width: 83.33333333%;
}
.am-form-field.am-u-sm-11{
  width: 91.66666667%;
}
.am-form-field.am-u-sm-12{
  width: 100%;
}
